include {
  path = "${find_in_parent_folders()}"
}

terraform {
  source = "git::git@github.com:tokopedia/tf-alicloud-modules.git//ess-scaling-group"
}

inputs = {
  # VPC VSwitch
  vsw_remote_state_bucket = "tkpd-tg-alicloud-infra"
  vsw_remote_state_keys   = [
     "vswitches/app/terraform.tfstate",
     "vswitches/app-2/terraform.tfstate"
  ]

  # ESS Scaling Group
  esssg_name = "{{ trimPrefix .ScalingGroupName "tf-" }}"

  esssg_min_size = {{ .MinSize }}
  esssg_max_size = {{ .MaxSize }}

  esssg_removal_policies = [
  {{ range $index, $element := .RemovalPolicies }}{{- if $index }},
  {{- end }}{{ if not $index }} {{ end }} "{{ $element -}}"{{ end }}
  ]

  esssg_multi_az_policy  = "{{ .MultiAZPolicy }}"
  {{- if .LoadBalancerIDs }}
  esssg_loadbalancer_ids = [
  {{ range $index, $element := .LoadBalancerIDs }}{{- if $index }},
  {{- end }}{{ if not $index }} {{ end }} "{{ $element -}}"{{ end }}
  ]{{ end }}
}
